@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* CSS HSL variables */
:root {
  --cerulean: hsla(197, 60%, 34%, 1);
  --white: var(--white-2);
  --white-2: hsla(0, 0%, 100%, 1);
  --baby-powder: hsla(90, 67%, 99%, 1);
  --rich-black: hsla(199, 53%, 9%, 1);
  --paynes-gray: hsla(197, 10%, 35%, 1);
  --baby-powder-2: hsla(60, 25%, 98%, 1);
  --charcoal: hsla(201, 14%, 28%, 1);
  --gunmetal-2: hsla(197, 58%, 15%, 1);
  --charcoal-2: hsla(197, 42%, 24%, 1);
  --gunmetal: hsla(197, 58%, 15%, 1);
  --silver: hsla(192, 15%, 81%, 1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--rich-black);
}

.logo {
  text-align: center; /* Centre le logo */
  margin-bottom: 5; /* Espace entre le logo et la navigation */
}

.logo img {
  max-width: 350px; /* Ajustez cette valeur pour changer la taille de votre logo */
  height: auto; /* Garde le ratio du logo */
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 20px; /* Espacement entre les éléments de la liste */
  margin-bottom: 10px; /* Ajustez cette valeur selon l'espace désiré */
}

nav ul li {
  display: block;
}

nav ul li a {
  text-decoration: none;
  color: var(--gunmetal); /* Couleur initiale du texte */
  padding: 10px 15px; /* Ajoute un peu d'espace autour du texte pour un meilleur effet visuel */
  transition: background-color 0.3s, color 0.3s; /* Transition douce pour le changement de couleur */
}

nav ul li a:hover {
  background-color: var(--baby-powder); /* Couleur de fond au survol */
  color: var(--gunmetal); /* Couleur du texte au survol */
}

.hero {
  background-color: var(--cerulean);
  color: var(--white);
  padding: 20px;
  text-align: center;
}

.features {
  padding: 20px;
}

footer {
  background-color: var(--gunmetal);
  color: var(--silver);
  text-align: center;
  padding: 10px;
}

@media (max-width: 768px) {
  nav ul li {
    display: block;
    margin-bottom: 10px;
  }
}

.div_info {
  background-color: var(
    --baby-powder
  ); /* Fond clair pour contraster avec le texte */
  color: var(--rich-black); /* Texte foncé pour une bonne lisibilité */
  padding: 40px 20px; /* Espacement généreux pour une présentation aérée */
  margin: 20px auto; /* Marge pour séparer les sections verticalement et centrer horizontalement */
  border-radius: 8px; /* Bordures arrondies pour une touche moderne */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Ombre subtile pour du relief */
  max-width: 80%; /* Limite la largeur pour une meilleure lecture sur grands écrans */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transition pour l'interaction */
}

.div_info:hover {
  transform: translateY(-5px); /* Légère élévation au survol */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15); /* Ombre plus prononcée au survol */
}

.div_info h1,
.div_info h2 {
  color: var(--cerulean); /* Titres en couleur pour ressortir */
  margin-bottom: 15px; /* Espacement après le titre */
}

.div_info p {
  font-size: 0.9rem; /* Taille de police adaptée */
  line-height: 1.6; /* Interligne pour une meilleure lisibilité */
  text-align: justify; /* Justification du texte pour une présentation soignée */
}

.flight-component span {
  font-size: 0.9rem; /* Taille de police adaptée */
  line-height: 1.6; /* Interligne pour une meilleure lisibilité */
  text-align: justify; /* Justification du texte pour une présentation soignée */
}

/* Responsive Design pour mobiles */
@media (max-width: 768px) {
  .div_info {
    max-width: 90%; /* Augmente la largeur sur petits écrans */
    padding: 30px 15px; /* Ajuste l'espacement sur petits écrans */
  }
}

.link-container {
  display: flex;
  justify-content: center; /* Centre le lien horizontalement */
  width: 100%; /* Assurez-vous que le conteneur occupe toute la largeur */
}

.start-now-link {
  display: inline-block;
  margin-top: 10px;
  background-color: var(--silver); /* Utilisez votre couleur de thème ici */
  color: var(--gunmetal); /* Couleur du texte */
  padding: 10px 20px; /* Ajustez l'espacement interne */
  border-radius: 5px; /* Bordures arrondies pour un look moderne */
  text-decoration: none; /* Supprime le soulignement par défaut des liens */
  font-weight: 500; /* Rend le texte un peu plus gras */
  transition: background-color 0.3s, transform 0.2s; /* Animation légère */
  align-items: center;
}

.start-now-link:hover,
.start-now-link:focus {
  background-color: var(--charcoal); /* Change la couleur au survol */
  transform: translateY(-2px); /* Effet de "levage" au survol */
  color: var(
    --baby-powder
  ); /* Change la couleur du texte au survol, si nécessaire */
}

.github-link {
  color: var(--cerulean); /* Couleur du lien */
  font-weight: 600; /* Rend le lien un peu plus gras */
  text-decoration: none; /* Supprime le soulignement par défaut */
}

.github-link:hover,
.github-link:focus {
  text-decoration: underline; /* Ajoute un soulignement au survol pour indiquer qu'il s'agit d'un lien cliquable */
  color: var(
    --charcoal
  ); /* Change la couleur au survol pour une meilleure visibilité */
}

.flight-component {
  --w: min(700px, 90vw);
  width: var(--w);
  margin: auto; /* Ajoutez ceci si .flight-component est directement dans body ou un conteneur flex */
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5em;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-size: 1.25rem;
  margin-top: 10px;
}

/*
Didn't nest this one, in case I wanted to use the input by itself 
without the div/span structure (in that case: add width!!)
*/
.flight-component input,
input.flight {
  --bg: #6c6c84;
  --scale: clamp(1, calc(1 + 0.5 * sin(pi * var(--val) / 100)), 2);
  --shadow: clamp(0.15em, calc(1em * sin(pi * var(--val) / 100)), 1em);
  --opacity: clamp(0.2, calc(1 - sin(pi * var(--val) / 100)), 0.4);
  --color: rgb(0 0 0 / var(--opacity));
  --primary: #f0f4fc;
  --secondary: #b55;
  --val: 0;
  --height: 3em;
  appearance: none;
  container-type: inline-size;
  flex: 1;
  height: var(--height);
  border: none; /* Firefox adds a default border */
  border-radius: 10em;
  position: relative;
  background: radial-gradient(circle at 0.35em 50%, var(--bg) 0.35em, #0000 0)
      no-repeat,
    radial-gradient(
        circle at calc(100% - 0.35em) 50%,
        var(--bg) 0.35em,
        #0000 0
      )
      no-repeat,
    linear-gradient(#0000 45%, var(--bg) 0 55%, #0000 0) 50% 50% / 99% 100%,
    #f000;
  border: 0;
  -webkit-print-color-adjust: exact;
  print-color-adjust: exact;

  /* 
  the ::before and ::after won't work on Firefox for input range,
  so only use for decoration on the other browsers 
  */
  &::before {
    content: "";
    width: calc(var(--val) * 1%);
    min-width: 0.5em;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: radial-gradient(circle at 0.35em 50%, #000 0.35em, #0000 0)
        no-repeat,
      linear-gradient(#0000 45%, #000 0 55%, #0000 0) 50% 50% / calc(100% - 1em)
        100% no-repeat,
      #f000;
  }

  &::after {
    content: "";
    width: 100%;
    height: 12em;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    pointer-events: none;
    background:
      /* cloud 1 */ radial-gradient(
        3% 20% at 50% 20%,
        #fff 40%,
        #0000 0
      ),
      radial-gradient(3% 20% at 52.5% 13%, #fff 40%, #0000 0),
      radial-gradient(2% 20% at 51% 10%, #fff 40%, #0000 0),
      radial-gradient(2.5% 20% at 51.5% 27%, #fff 50%, #0000 0),
      radial-gradient(2% 20% at 53% 23%, #fff 60%, #0000 0),
      radial-gradient(4% 40% at 55% 20%, #fff 40%, #0000 0),
      /* cloud 2 */ radial-gradient(3% 20% at 40% 80%, #fff 40%, #0000 0),
      radial-gradient(3% 20% at 42.5% 87%, #fff 40%, #0000 0),
      radial-gradient(2% 20% at 41% 90%, #fff 40%, #0000 0),
      radial-gradient(2.5% 20% at 41.5% 72%, #fff 50%, #0000 0),
      radial-gradient(2% 20% at 43% 73%, #fff 60%, #0000 0),
      radial-gradient(4% 40% at 40% 78%, #fff 40%, #0000 0);
    background-size: 300% 100%;
    background-position: calc(var(--val) * 1%) 0;
    -webkit-mask: linear-gradient(90deg, #0000, #0008 35% 65%, #0000);
    mask: linear-gradient(90deg, #0000, #0008 35% 65%, #0000);
  }

  /* track for Chrome and Safari (Firefox is ok) */
  &::-webkit-slider-runnable-track {
    height: 100%;
    /* so the plane is above the clouds */
    position: relative;
    z-index: 1;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }

  /* Thumb for Chrome and Safari */
  &::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    transform: translateY(calc(-50% + var(--height) / 2)) scale(var(--scale));
    width: 4em;
    aspect-ratio: 1;
    pointer-events: none;
    background: linear-gradient(var(--secondary) 0 0) 2% 50% / 13% 2.5%
        no-repeat,
      /* main frame */
        conic-gradient(
          at -40% 50%,
          #0000 84.75deg,
          var(--primary) 85deg 95deg,
          #0000 95.25deg
        )
        0 0 / 80% 100%,
      /* pilot */
        radial-gradient(
          closest-side circle at calc(100% - 0.85em) 50%,
          #9cf 0.3em,
          #0000 0
        ),
      radial-gradient(20% 10% at 80% 50%, var(--primary) 99%, #0000),
      /* tail */
        conic-gradient(
          at 45% -45%,
          #0000 150deg,
          var(--secondary) 151deg 174deg,
          #0000 175deg
        ) -50% 40% / 53% 20%,
      conic-gradient(
          at 45% 145%,
          #0000 5deg,
          var(--secondary) 6deg 29deg,
          #0000 30deg
        ) -50% 60% / 53% 20%,
      /* wings */
        conic-gradient(
          at 38% -45%,
          #0000 158deg,
          var(--secondary) 158.5deg 174deg,
          #0000 174.5deg
        )
        0 0 / 100% 50%,
      conic-gradient(
          at 38% 145%,
          #0000 5deg,
          var(--secondary) 5.5deg 21deg,
          #0000 21.5deg
        )
        0 100% / 100% 50%,
      /* engines */ radial-gradient(80% 50%, #000 99%, #0000) 51% 22% / 21% 11%,
      radial-gradient(80% 50%, #000 99%, #0000) 51% 78% / 21% 11%;
    background-repeat: no-repeat;
    border-radius: 20% / 100%;
    filter: drop-shadow(
      calc(var(--shadow) * 2) calc(var(--shadow) * 1.25) var(--shadow)
        var(--color)
    );
    box-shadow: none; /* Safari adds a box-shadow when using drop-shadow on iOS, remove manually */
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }

  /* Thumb for Firefox */
  &::-moz-range-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    transform: scale(var(--scale));
    width: 4em;
    height: 4em;
    border: none;
    pointer-events: none;
    background: linear-gradient(var(--secondary) 0 0) 2% 50% / 13% 2.5%
        no-repeat,
      /* main frame */
        conic-gradient(
          at -40% 50%,
          #0000 84.75deg,
          var(--primary) 85deg 95deg,
          #0000 95.25deg
        )
        0 0 / 80% 100%,
      /* pilot */
        radial-gradient(
          closest-side circle at calc(100% - 0.85em) 50%,
          #9cf 0.3em,
          #0000 0
        ),
      radial-gradient(20% 10% at 80% 50%, var(--primary) 99%, #0000),
      /* tail */
        conic-gradient(
          at 45% -45%,
          #0000 150deg,
          var(--secondary) 151deg 174deg,
          #0000 175deg
        ) -50% 40% / 53% 20%,
      conic-gradient(
          at 45% 145%,
          #0000 5deg,
          var(--secondary) 6deg 29deg,
          #0000 30deg
        ) -50% 60% / 53% 20%,
      /* wings */
        conic-gradient(
          at 38% -45%,
          #0000 158deg,
          var(--secondary) 158.5deg 174deg,
          #0000 174.5deg
        )
        0 0 / 100% 50%,
      conic-gradient(
          at 38% 145%,
          #0000 5deg,
          var(--secondary) 5.5deg 21deg,
          #0000 21.5deg
        )
        0 100% / 100% 50%,
      /* engines */ radial-gradient(80% 50%, #000 99%, #0000) 51% 22% / 21% 11%,
      radial-gradient(80% 50%, #000 99%, #0000) 51% 78% / 21% 11%;
    background-repeat: no-repeat;
    border-radius: 20% / 100%;
    filter: drop-shadow(
      calc(var(--shadow) * 2) calc(var(--shadow) * 1.25) var(--shadow)
        var(--color)
    );
    box-shadow: none;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
}

@media (prefers-contrast: more) {
  .flight-component input,
  input.flight {
    &::-webkit-slider-runnable-track {
      border: 2px solid #666;
      height: 0;
    }

    &::-webkit-slider-thumb {
      transform: translateY(-50%) scale(var(--scale));
      box-sizing: border-box;
      border: 2em solid Highlight;
      clip-path: polygon(
        0% 47%,
        3% 46.62%,
        0.88% 31.62%,
        5.38% 31.25%,
        13.38% 45.75%,
        44.38% 42.5%,
        43% 29.5%,
        40.25% 29%,
        40% 21.5%,
        42.75% 20.88%,
        40% 0%,
        47.12% 0.12%,
        55% 19.88%,
        60.88% 19.88%,
        60.88% 29.12%,
        58.88% 29.38%,
        63.75% 40.62%,
        81.75% 39.75%,
        88% 40.38%,
        93% 42%,
        97.25% 44.38%,
        99.25% 46.62%,
        100% 50%,
        99.25% 53.38%,
        97.25% 55.62%,
        93% 58%,
        88% 59.62%,
        81.75% 60.25%,
        63.75% 59.38%,
        58.88% 70.62%,
        60.88% 70.88%,
        60.88% 80.12%,
        55% 80.12%,
        47.12% 100%,
        40% 100%,
        42.75% 79.12%,
        40% 78.5%,
        40.25% 71%,
        43% 70.5%,
        44.38% 57.5%,
        13.38% 54.25%,
        5.38% 68.75%,
        0.88% 68.38%,
        3% 53.38%,
        0% 53%
      );
    }

    &::-moz-range-track {
      border: 2px solid #000;
      height: 0;
    }

    &::-moz-range-thumb {
      box-sizing: border-box;
      border: 2em solid Highlight;
      clip-path: polygon(
        0% 47%,
        3% 46.62%,
        0.88% 31.62%,
        5.38% 31.25%,
        13.38% 45.75%,
        44.38% 42.5%,
        43% 29.5%,
        40.25% 29%,
        40% 21.5%,
        42.75% 20.88%,
        40% 0%,
        47.12% 0.12%,
        55% 19.88%,
        60.88% 19.88%,
        60.88% 29.12%,
        58.88% 29.38%,
        63.75% 40.62%,
        81.75% 39.75%,
        88% 40.38%,
        93% 42%,
        97.25% 44.38%,
        99.25% 46.62%,
        100% 50%,
        99.25% 53.38%,
        97.25% 55.62%,
        93% 58%,
        88% 59.62%,
        81.75% 60.25%,
        63.75% 59.38%,
        58.88% 70.62%,
        60.88% 70.88%,
        60.88% 80.12%,
        55% 80.12%,
        47.12% 100%,
        40% 100%,
        42.75% 79.12%,
        40% 78.5%,
        40.25% 71%,
        43% 70.5%,
        44.38% 57.5%,
        13.38% 54.25%,
        5.38% 68.75%,
        0.88% 68.38%,
        3% 53.38%,
        0% 53%
      );
    }
  }
}

/* the clouds look bad in smaller screens, hide them */
@container (max-width: 400px) {
  .flight-component input,
  input.flight {
    &::after {
      display: none;
    }

    /* replace the place with a helicopter */
    &::-webkit-slider-thumb {
      width: 3em;
      background:
        /* rotors */ radial-gradient(
            closest-side circle at 50% 50%,
            var(--secondary) 10%,
            #0001 11% 90%,
            #0000 91%
          )
          100% 50% / 90% 90%,
        radial-gradient(
            closest-side circle at 50% 50%,
            #0000 0 20%,
            #0001 0 40%,
            #0000 0 60%,
            #0001 0 80%,
            #0000 0
          )
          100% 50% / 91% 91%,
        /* main frame */
          conic-gradient(
            at -65% 50%,
            #0000 84.75deg,
            var(--primary) 85deg 95deg,
            #0000 95.25deg
          )
          0 0 / 80% 100%,
        /* pilot */
          radial-gradient(
            farthest-side circle at calc(100% - 0.5em) 50%,
            #9cf 0.4em,
            #0000 0
          ),
        radial-gradient(25% 20% at 75% 50%, var(--primary) 99%, #0000),
        /* tail */
          conic-gradient(
            at 45% -45%,
            #0000 150deg,
            var(--secondary) 151deg 174deg,
            #0000 175deg
          ) -49% 40% / 53% 25%,
        conic-gradient(
            at 45% 145%,
            #0000 5deg,
            var(--secondary) 6deg 29deg,
            #0000 30deg
          ) -49% 60% / 53% 25%,
        /* legs? */ linear-gradient(#000 0 0) 100% 33% / 60% 4%,
        linear-gradient(#000 0 0) 100% 67% / 60% 4%;
      background-repeat: no-repeat;
    }

    &::-moz-range-thumb {
      width: 3em;
      height: 3em;
      background:
        /* rotors */ radial-gradient(
          closest-side circle at 55% 50%,
          var(--secondary) 10%,
          #0001 11% 90%,
          #0000 91%
        ),
        radial-gradient(
            closest-side circle at 50% 50%,
            #0000 0 20%,
            #0001 0 40%,
            #0000 0 60%,
            #0001 0 80%,
            #0000 0
          )
          50% 50% / 91% 91%,
        /* main frame */
          conic-gradient(
            at -65% 50%,
            #0000 84.75deg,
            var(--primary) 85deg 95deg,
            #0000 95.25deg
          )
          0 0 / 80% 100%,
        /* pilot */
          radial-gradient(
            farthest-side circle at calc(100% - 0.5em) 50%,
            #9cf 0.4em,
            #0000 0
          ),
        radial-gradient(25% 20% at 75% 50%, var(--primary) 99%, #0000),
        /* tail */
          conic-gradient(
            at 45% -45%,
            #0000 150deg,
            var(--secondary) 151deg 174deg,
            #0000 175deg
          ) -49% 40% / 53% 25%,
        conic-gradient(
            at 45% 145%,
            #0000 5deg,
            var(--secondary) 6deg 29deg,
            #0000 30deg
          ) -49% 60% / 53% 25%,
        /* legs? */ linear-gradient(#000 0 0) 100% 33% / 60% 4%,
        linear-gradient(#000 0 0) 100% 67% / 60% 4%;
      background-repeat: no-repeat;
    }
  }
}

/* Centre la liste alphabétique et ajoute du style aux liens */
.alphabet-index {
  display: flex;
  justify-content: center; /* Centre les éléments horizontalement */
  flex-wrap: wrap; /* Permet aux éléments de passer à la ligne si nécessaire */
  padding: 20px 0; /* Ajoute un peu d'espace au-dessus et en dessous de la liste */
  list-style: none; /* Enlève les puces de la liste */
  gap: 10px; /* Ajoute un espacement uniforme entre les éléments */
}

.alphabet-index a {
  margin: 0 10px; /* Espacement autour de chaque lien */
  text-decoration: none; /* Supprime le soulignement par défaut */
  color: var(--gunmetal); /* Couleur du texte pour les liens */
  font-weight: bold; /* Rend le texte des liens plus gras */
  background-color: var(--silver); /* Couleur de fond pour les liens */
  border-radius: 5px; /* Bordures arrondies pour les liens */
  padding: 5px 10px; /* Espacement interne pour les liens */
  transition: background-color 0.3s, color 0.3s; /* Transition douce pour les interactions */
  margin: 5px; /* Réduit l'espacement autour de chaque lien pour permettre un meilleur contrôle via 'gap' */
  padding: 5px 10px;
}

.alphabet-index a:hover,
.alphabet-index a:focus {
  background-color: var(--cerulean); /* Change la couleur de fond au survol */
  color: var(--white); /* Change la couleur du texte au survol */
}

/* Style pour centrer la liste des pays */
.country-list {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centre les éléments verticalement */
  width: 100%; /* Utilise toute la largeur disponible */
  margin-bottom: 15px;
}

.country-list > div {
  text-align: center; /* Centre le texte de chaque section de pays */
}

.country-list ul {
  padding: 0;
  list-style: none; /* Enlève les puces de la liste */
}

.country-list li {
  margin: 5px 0; /* Ajoute un peu d'espace entre chaque pays */
}

.country-list, .country-list li {
  list-style-type: none; /* Enlève les puces de la liste */
}


.wrapper {
  position: relative;
  width: 100%;
  margin: 0 auto;
  max-width: 700px;
}

.wrapper video {
  width: 100%;
  height: 170px; /* Ajustez selon le besoin */
  object-fit: cover; /* Assure que la vidéo couvre la zone sans dépasser */
}

/* Ajustements pour les écrans plus petits */
@media (max-width: 700px) {
  .wrapper video {
    height: 80px; /* Augmente la hauteur sur les petits écrans */
  }
}

.wrapper svg {
  position: absolute;
  top: 0; /* Ajustez si nécessaire */
  left: 0;
  width: 100%;
  height: auto; /* Ajustez ou retirez selon le besoin */
}


.wrapper svg text {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  text-anchor: middle; /* Centre le texte horizontalement */
  text-transform: uppercase;
}

.wrapper svg > rect {
  -webkit-mask: url(#mask);
  mask: url(#mask);
  fill: #fff;
}


/* Country Page Layout Adjustments */
.main-country {
  max-width: 1200px; /* Adjust the max-width as needed */
  margin: 40px auto;
  padding: 0 20px;
}

#country-name {
  font-size: 3rem;
  color: var(--rich-black);
  margin-right: 10px; /* Add space between title and flag */
}

.country-header {
  display: flex;
  justify-content: flex-start; /* Align items to the start */
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
  margin-left: 20px;
}

#country-name {
  font-size: 3rem;
  color: var(--rich-black);
  margin-right: 400px; /* Adjust space between title and flag */
  margin-left: 100px; /* Adjust space between title and flag */
}

.country-flag-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#country-flag {
  width: 250px; /* Ajustez cette valeur pour la taille du drapeau */
  height: auto;
  border-radius: 5px; /* Bordures arrondies */
  display: block; /* Assurez que l'image est traitée comme un bloc pour appliquer des marges */
  margin-right: 100px; /* Centre le drapeau horizontalement si nécessaire */
}


.country-info, .div_info {
  margin-top: 20px;
  width: 100%; /* Use full width */
  padding: 20px;
  background-color: var(--baby-powder-2);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

#map {
  height: 250px; /* Adjust map height */
  margin-top: 20px;
}

@media screen and (max-width: 768px) {
  .country-header {
    flex-direction: column;
    align-items: center;
    margin-left: 0; /* Reset the margin for mobile */
  }

  #country-name {
    margin-bottom: 10px; /* Adjusted space between title and flag on mobile */
    font-size: 2rem; /* Adjust the font size for mobile */
    text-align: center; /* Center the title on mobile */
  }

  #country-flag {
    width: 120px; /* Adjust the flag size for mobile */
    margin: 0 auto; /* Center the flag below the country name */
    border-radius: 5px; /* Ensuring border-radius is applied */
  }

  .country-info, .div_info {
    padding: 15px; /* Adjust padding for mobile */
    margin-top: 10px; /* Adjust top margin for mobile */
  }

  #map {
    height: 200px; /* Adjust map height for mobile */
    width: 100%; /* Ensure the map uses full width on mobile */
  }
}
